absl-py==0.15.0
affinegap==1.12
aiohttp==3.8.1
aioice==0.7.6
aiortc==1.3.2
aiosignal==1.2.0
alabaster==0.7.12
altair==4.2.0
amqp==5.0.9
analytics-python==1.4.0
ansi2html==1.7.0
anyio==3.5.0
apache-beam==2.37.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.0
ast_decompiler==0.6.0
astatine==0.3.2
astor==0.8.1
astpretty==2.1.0
astroid==2.12.9
asttokens==2.0.8
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
asynctest==0.13.0
atomicwrites==1.4.0
attrs==22.1.0
audioread==2.1.9
autoflake==1.5.3
av==9.1.1
avro-python3==1.10.2
Babel==2.9.1
backcall==0.2.0
backoff==1.10.0
backports.zoneinfo==0.2.1
baidu-aip==4.16.3
bandit==1.7.4
bce-python-sdk==0.8.64
bcrypt==3.2.0
beautifulsoup4==4.10.0
billiard==3.6.4.0
biopython==1.79
black==22.8.0
bleach==4.1.0
blinker==1.4
blis==0.7.5
Brotli==1.0.9
bs4==0.0.1
BTrees==4.9.2
cached-property==1.5.2
cachetools==4.2.4
catalogue==2.0.6
catboost==1.0.4
categorical-distance==1.9
celery==5.0.5
certifi==2022.6.15
cffi==1.15.1
cfgv==3.3.1
chardet==4.0.0
charset-normalizer==2.0.10
chart-studio==1.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudpickle==2.0.0
cmake==3.22.3
cognitive-complexity==1.3.0
colorama==0.4.5
colour==0.1.5
contextlib2==21.6.0
coverage==6.4.4
crc32c==2.2.post0
crcmod==1.7
cryptography==37.0.4
cssselect==1.1.0
cssutils==2.4.0
csvmatch==1.21
cycler==0.10.0
cymem==2.0.6
Cython==0.29.28
darglint==1.8.1
dash==2.2.0
dash-auth==1.4.1
dash-bootstrap-components==0.13.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dateparser==1.1.1
datetime-distance==0.1.3
debugpy==1.5.1
decorator==5.1.1
dedupe==2.0.11
dedupe-hcluster==0.3.9
dedupe-variable-datetime==0.1.5
defusedxml==0.7.1
demjson3==3.0.5
dill==0.3.1.1
distlib==0.3.4
dlib==19.23.1
dlint==0.13.0
dm-tree==0.1.6
dnspython==2.2.1
doc8==0.11.2
docformatter==1.5.0
docutils==0.17.1
domdf-python-tools==3.4.0
DoubleMetaphone==1.1
dtreeviz==1.3.4
easyocr==1.4.2
email-validator==1.2.1
entrypoints==0.3
eradicate==2.1.0
et-xmlfile==1.1.0
exceptiongroup==1.0.0rc9
explainerdashboard==0.3.8
face-recognition==1.3.0
face-recognition-models==0.3.0
facebook-scraper==0.2.58
fake-useragent==0.1.11
fastai==2.5.6
fastapi==0.75.2
fastavro==1.4.10
fastcluster==1.2.4
fastcore==1.3.29
fastdownload==0.0.5
fastprogress==1.0.2
ffmpy==0.3.0
filelock==3.6.0
flake8==4.0.1
flake8-2020==1.6.1
flake8-aaa==0.12.2
flake8-annotations==2.9.1
flake8-annotations-complexity==0.0.7
flake8-annotations-coverage==0.0.6
flake8-bandit==3.0.0
flake8-black==0.3.3
flake8-blind-except==0.2.1
flake8-breakpoint==1.1.0
flake8-broken-line==0.4.0
flake8-bugbear==22.9.11
flake8-builtins==1.5.3
flake8-class-attributes-order==0.1.3
flake8-coding==1.3.2
flake8-cognitive-complexity==0.1.0
flake8-commas==2.1.0
flake8-comments==0.1.2
flake8-comprehensions==3.10.0
flake8-debugger==4.1.2
flake8-django==1.1.5
flake8-docstrings==1.6.0
flake8-encodings==0.5.0.post1
flake8-eradicate==1.3.0
flake8-executable==2.1.1
flake8-expression-complexity==0.0.11
flake8-fixme==1.1.1
flake8-functions==0.0.7
flake8-functions-names==0.1.0
flake8-future-annotations==0.0.5
flake8-helper==0.2.1
flake8-isort==4.2.0
flake8-literal==1.2.6
flake8-logging-format==0.7.5
flake8-markdown==0.3.0
flake8-mutable==1.2.0
flake8-no-pep420==2.3.0
flake8-noqa==1.2.9
flake8-pie==0.16.0
flake8-plugin-utils==1.3.2
flake8-polyfill==1.0.2
flake8-pyi==22.8.2
flake8-pylint==0.1.3
flake8-pytest-style==1.6.0
flake8-quotes==3.3.1
flake8-rst-docstrings==0.2.7
flake8-secure-coding-standard==1.3.0
flake8-simplify==0.19.3
flake8-slots==0.1.5
flake8-string-format==0.3.0
flake8-tidy-imports==4.8.0
flake8-typing-imports==1.12.0
flake8-use-fstring==1.4
flake8-use-pathlib==0.3.0
flake8-useless-assert==0.4.3
flake8-variables-names==0.0.5
flake8-warnings==0.2.1
Flask==2.0.3
Flask-Babel==2.0.0
Flask-Compress==1.11
Flask-Cors==3.0.10
Flask-SeaSurf==0.3.1
flask-simplelogin==0.1.1
Flask-WTF==0.15.1
flatbuffers==1.12
fonttools==4.28.5
fpdf==1.7.2
frozenlist==1.3.0
future==0.18.2
fuzzy-pandas==0.1
fuzzywuzzy==0.18.0
gast==0.3.3
gin-config==0.5.0
gitdb==4.0.9
GitPython==3.1.27
google-api-core==2.7.1
google-api-python-client==2.42.0
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-crc32c==1.3.0
google-pasta==0.2.0
gradio==2.9.4
graphviz==0.19.1
grpcio==1.32.0
gTTS==2.2.1
gunicorn==20.1.0
h11==0.13.0
h2==4.1.0
h5py==2.10.0
haversine==2.5.1
hdfs==2.7.0
helper==2.5.0
highered==0.2.1
hpack==4.0.0
htmlmin==0.1.12
httplib2==0.19.1
httptools==0.4.0
hyperframe==6.0.1
hypothesis==6.54.5
hypothesmith==0.1.9
identify==2.4.12
idna==3.3
ImageHash==4.2.1
imageio==2.16.0
imagesize==1.4.1
imbalanced-learn==0.9.0
imblearn==0.0
imgaug==0.4.0
importlib-metadata==4.2.0
importlib-resources==5.4.0
imutils==0.5.4
iniconfig==1.1.1
intel-openmp==2022.0.3
ipykernel==6.9.1
ipython==7.32.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.10.1
itsdangerous==2.1.1
jedi==0.18.1
jellyfish==0.9.0
jieba==0.42.1
Jinja2==3.0.3
joblib==1.0.0
json5==0.9.6
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.0
jupyter-core==4.9.2
jupyter-dash==0.4.1
jupyter-server==1.13.5
jupyterlab==3.2.9
jupyterlab-flake8==0.7.1
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.2
kaggle==1.5.12
kaitaistruct==0.9
keras==2.8.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==23.5.0
kiwisolver==1.3.1
kombu==5.2.3
langcodes==3.3.0
lark-parser==0.12.0
lazy-object-proxy==1.7.1
lazypredict==0.2.9
ldap3==2.8.1
Levenshtein==0.18.1
Levenshtein-search==1.4.5
libclang==12.0.0
libcst==0.4.7
librosa==0.9.1
lightgbm==2.3.1
linkify-it-py==1.0.3
llvmlite==0.38.0
lmdb==1.3.0
lvis==0.5.3
lxml==4.8.0
Markdown==3.3.6
markdown-it-py==2.1.0
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mdit-py-plugins==0.3.0
mdurl==0.1.1
mediapipe==0.8.9.1
mglearn==0.1.9
missingno==0.5.0
mistune==0.8.4
mitmproxy==5.3.0
monotonic==1.6
more-itertools==8.12.0
mr-proper==0.0.7
msgpack==1.0.3
multidict==6.0.2
multimethod==1.7
murmurhash==1.0.6
mypy-extensions==0.4.3
mysql-connector-python==8.0.28
natsort==8.2.0
nbclassic==0.3.5
nbclient==0.5.10
nbconvert==6.4.0
nbformat==5.1.3
nest-asyncio==1.5.4
netifaces==0.11.0
networkx==2.6.3
nglview==3.0.3
nodeenv==1.6.0
notebook==6.4.7
numba==0.55.1
numpy==1.21.6
oauth2client==4.1.3
oauthlib==3.1.1
object-detection==0.1
openalpr==1.0.0
opencv-contrib-python==4.4.0.46
opencv-python==4.5.5.64
opencv-python-headless==4.5.5.64
openpyxl==3.0.9
opt-einsum==3.3.0
orjson==3.6.7
outcome==1.2.0
oyaml==1.0
packaging==21.3
paddleocr==2.4.0.4
paddlepaddle-gpu==2.2.2
pandas==1.0.5
pandas-profiling==3.1.0
pandas-vet==0.2.3
pandocfilters==1.5.0
paramiko==2.10.3
parse==1.19.0
parso==0.8.3
passlib==1.7.4
pathlib==1.0.1
pathlib2==2.3.7.post1
pathspec==0.9.0
pathy==0.6.1
pbr==5.10.0
pdfminer.six==20201018
pep8-naming==0.12.1
persistent==4.7.0
phik==0.12.0
pickleshare==0.7.5
Pillow==8.2.0
pkginfo==1.8.2
platformdirs==2.5.1
playsound==1.3.0
plotly==5.6.0
pluggy==0.13.1
pooch==1.6.0
portalocker==2.4.0
pre-commit==2.18.1
premailer==3.10.0
preshed==3.0.6
prometheus-client==0.12.0
promise==2.3
prompt-toolkit==3.0.24
proto-plus==1.20.3
protobuf==3.13.0
psutil==5.9.0
publicsuffix2==2.20191221
py==1.11.0
py-cpuinfo==8.0.0
py3Dmol==1.8.0
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybetter==0.4.1
pyclipper==1.3.0.post2
pycln==1.3.5
pycocotools==2.0.4
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.14.1
pydantic==1.8.2
pydeck==0.7.1
pydivert==2.1.0
pydocstyle==6.1.1
pydot==1.4.2
pydotplus==2.0.2
pydp==0.1.16
pydub==0.25.1
pyee==8.2.2
pyemojify==0.2.0
pyflakes==2.4.0
Pygments==2.11.2
pyhacrf-datamade==0.2.6
PyLBFGS==0.2.0.14
pylibsrtp==0.7.1
pylint==2.15.2
pymongo==3.12.3
Pympler==1.0.1
PyMySQL==1.0.2
PyNaCl==1.5.0
pyOpenSSL==22.0.0
pyparsing==2.4.7
pyperclip==1.8.2
pyppeteer==1.0.2
PyQt5==5.9.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyquery==1.4.3
pyrsistent==0.18.1
PySocks==1.7.1
pytesseract==0.3.9
pytest==7.1.3
pytest-cov==3.0.0
pytest-sugar==0.9.5
python-bidi==0.4.2
python-chess==0.27.0
python-dateutil==2.8.2
python-dev-tools==2022.5.27
python-dotenv==0.20.0
python-Levenshtein==0.12.2
python-multipart==0.0.5
python-slugify==6.1.1
python-speech-features==0.6
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pyupgrade==2.37.3
PyWavelets==1.2.0
pywin32==303
pywin32-ctypes==0.2.0
pywinpty==1.1.6
PyYAML==5.3.1
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.0
rapidfuzz==2.0.3
readme-renderer==34.0
regex==2022.3.2
removestar==1.3.1
requests==2.27.1
requests-html==0.10.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
resampy==0.2.2
restructuredtext-lint==1.4.0
retrying==1.3.3
rfc3986==2.0.0
rlr==2.4.6
roboflow==0.2.2
rsa==4.8
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.6
sacrebleu==2.0.0
scikit-image==0.19.2
scikit-learn==0.23.1
scipy==1.5.4
scraper==0.1.0
scraper-utils==1.1
seaborn==0.11.2
selenium==4.2.0
semver==2.13.0
Send2Trash==1.8.0
sentencepiece==0.1.96
seqeval==1.2.2
shap==0.40.0
Shapely==1.8.1.post1
shellcheck-py==0.8.0.4
simplecosine==1.2
sip==4.19.8
six==1.15.0
slicer==0.0.7
smart-open==5.2.1
smmap==5.0.0
sniffio==1.2.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
SoundFile==0.10.3.post1
soupsieve==2.3.1
spacy==3.2.2
spacy-legacy==3.0.9
spacy-loggers==1.0.1
Sphinx==4.3.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
split-folders==0.5.1
srsly==2.4.2
ssort==0.10.0
starlette==0.17.1
stdlib-list==0.8.0
stevedore==3.5.0
streamlit==1.8.1
streamlit-webrtc==0.36.1
sweetviz==2.1.3
tabulate==0.8.9
tangled-up-in-unicode==0.1.0
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-addons==0.16.1
tensorflow-datasets==4.5.2
tensorflow-estimator==2.4.0
tensorflow-gpu-estimator==2.3.0
tensorflow-hub==0.12.0
tensorflow-io==0.24.0
tensorflow-io-gcs-filesystem==0.23.1
tensorflow-metadata==1.7.0
tensorflow-model-optimization==0.7.2
tensorflow-object-detection-api==0.1.1
tensorflow-text==2.8.1
termcolor==1.1.0
terminado==0.12.1
tesseract==0.1.3
test-generator==0.1.2
testpath==0.5.0
tf-estimator-nightly==2.8.0.dev2021122109
tf-models-official==2.8.0
tf-slim==1.1.0
thinc==8.0.13
thop==0.0.31.post2005241907
threadpoolctl==3.0.0
tifffile==2021.11.2
tokenize-rt==4.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.4
toolz==0.11.2
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
tornado==6.1
tox==3.26.0
tox-travis==0.12
tqdm==4.56.0
traitlets==5.1.1
trio==0.21.0
trio-websocket==0.9.2
twine==3.8.0
typed-ast==1.5.4
typeguard==2.13.3
typer==0.4.2
typing-inspect==0.8.0
typing_extensions==4.3.0
tzdata==2022.1
tzlocal==4.2
ua-parser==0.10.0
uc-micro-py==1.0.1
ujson==5.4.0
Unidecode==1.3.2
untokenize==0.1.1
uritemplate==4.1.1
urllib3==1.26.11
urwid==2.1.2
uvicorn==0.17.6
validators==0.18.2
vine==5.0.0
virtualenv==20.14.0
visions==0.7.4
visualdl==2.2.3
w3lib==1.22.0
waitress==2.1.0
wasabi==0.9.0
watchdog==2.1.7
watchgod==0.8.2
wavio==0.0.4
wcwidth==0.2.5
webdriver-manager==3.8.3
webencodings==0.5.1
websocket-client==1.2.3
websockets==10.3
wemake-python-styleguide==0.16.1
Werkzeug==2.0.3
wget==3.2
widgetsnbextension==3.5.2
wrapt==1.12.1
wsproto==1.1.0
WTForms==3.0.1
xgboost==1.1.1
xlrd==2.0.1
xpinyin==0.7.6
yarl==1.7.2
zipp==3.7.0
zope.index==5.1.0
zope.interface==5.4.0
zstandard==0.14.1
